<div
  class="container mat-elevation-z8"
  style="padding-left: 5px; padding-right: 5px"
>
  <br />

  <section>
    <div class="button-row">
      <button mat-raised-button color="primary" routerLink="add">
        Add gateway
      </button>
    </div>
  </section>

  <br />

  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      Project API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="table-container">
    <mat-table
      mat-table
      [dataSource]="data"
      class="table"
      matSort
      matSortActive="name"
      matSortDirection="asc"
    >
      <!-- User name Definition -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>

      <!-- ipAddress Definition -->
      <ng-container matColumnDef="ipAddress">
        <mat-header-cell *matHeaderCellDef> IP address </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.ipAddress }} </mat-cell>
      </ng-container>

      <!-- serialNumber Definition -->
      <ng-container matColumnDef="serialNumber">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.serialNumber }} </mat-cell>
      </ng-container>

      <!-- peripheralDevices Definition -->
      <ng-container matColumnDef="peripheralDevices">
        <mat-header-cell *matHeaderCellDef fxFlex="7">
          Peripheral Devices
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="7">
          <button
            type="button"
            mat-icon-button
            color="primary"
            (click)="openManagementDevicesModalDialog(row?._id)"
          >
            <mat-icon>extension</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- details Definition -->
      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef fxFlex="7"> Details </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="7">
          <button
            type="button"
            mat-icon-button
            (click)="openDetailsModalDialog(row?._id)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row
        *matHeaderRowDef="[
          'name',
          'ipAddress',
          'serialNumber',
          'peripheralDevices',
          'details'
        ]"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: [
            'name',
            'ipAddress',
            'serialNumber',
            'peripheralDevices',
            'details'
          ]
        "
      ></mat-row>
    </mat-table>

    <mat-paginator
      [length]="resultsLength"
      [pageSize]="itemsxpage"
    ></mat-paginator>
  </div>
</div>
