<h2 mat-dialog-title>Gateway details</h2>
<mat-dialog-content class="mat-typography" style="min-width: 50vw;">
  <mat-list>
    <mat-list-item>
      <h3 class="mat-h3">Name: {{ gateway?.name }}</h3></mat-list-item
    >
    <mat-list-item>
      <h3 class="mat-h3">
        IP address: {{ gateway?.ipAddress }}
      </h3></mat-list-item
    >
    <mat-list-item>
      <h3 class="mat-h3">
        Serial number: {{ gateway?.serialNumber }}
      </h3></mat-list-item
    >
  </mat-list>

  <div
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxFlex="70%"
    fxFlex.xs="90%"
    fxFlex.lt-md="90%"
  >
    <div
      fxFlex="19%"
      *ngFor="let item of gateway?.peripheralDevice"
      style="padding: 7px; margin: 3px; border: 1px solid rgba(0, 0, 0, 0.2)"
    >
      <h3 class="mat-h3">
        {{ item.dateCreated | date }}
      </h3>
      <h4 class="mat-h4">UID: {{ item.uid }}</h4>
      <h4 class="mat-h4">Vendor: {{ item.vendor }}</h4>

      <mat-chip-list aria-label="Status">
        <mat-chip *ngIf="item.status === 'ONLINE'" selected color="primary"
          >ONLINE</mat-chip
        >
        <mat-chip *ngIf="item.status === 'OFFLINE'" selected color="accent"
          >OFFLINE</mat-chip
        >
      </mat-chip-list>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
