<div style="width: 75vw">
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <h2 mat-dialog-title>
    Managenment Peripheral Devices to {{ gateway?.name }} gateway
  </h2>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="row" fxLayoutAlign="start start">
      <div
        fxFlex="26%"
        fxFlex.xs="90%"
        fxFlex.lt-md="90%"
        class="mat-elevation-z0"
        style="padding: 7px; margin: 7px; border: 1px solid rgba(0, 0, 0, 0.2)"
      >
        <form
          focusInvalidInput
          [formGroup]="addDeviceForm"
          #f="ngForm"
          (ngSubmit)="onAddDevice()"
          class="form"
        >
          <h3 class="mat-h3">Add peripheral device</h3>

          <mat-form-field class="full-width">
            <input
              matInput
              #uid
              type="number"
              placeholder="UID number type"
              formControlName="uid"
              required
            />
            <mat-error> Invalid uid </mat-error>
          </mat-form-field>

          <br />

          <mat-form-field class="full-width">
            <input
              matInput
              #vendor
              type="text"
              placeholder="Vendor"
              formControlName="vendor"
              required
            />
            <mat-error> Invalid vendor </mat-error>
          </mat-form-field>

          <br />

          <mat-form-field class="full-width">
            <mat-label>Choose one</mat-label>
            <select formControlName="status" matNativeControl>
              <option value="ONLINE">Online</option>
              <option value="OFFLINE">Offline</option>
            </select>
            <mat-error> Invalid status </mat-error>
          </mat-form-field>

          <br />

          <mat-form-field class="full-width">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dateCreated"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>

          <br />

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!addDeviceForm.valid"
            aria-label="add"
          >
            <mat-icon>add</mat-icon>
            <span>Add</span>
          </button>

          <button
            style="position: relative; float: right;"
            mat-raised-button
            color="accent"
            type="button"
            (click)="enable()"
            aria-label="enable"
          >
            <span>Enable</span>
          </button>
        </form>
      </div>

      <div
        fxLayout="row wrap"
        fxLayoutAlign="start start"
        fxFlex="70%"
        fxFlex.xs="90%"
        fxFlex.lt-md="90%"
      >
        <div
          fxFlex="19%"
          *ngFor="let item of gateway?.peripheralDevice"
          style="
            padding: 7px;
            margin: 3px;
            border: 1px solid rgba(0, 0, 0, 0.2);
          "
        >
          <h3 class="mat-h3">
            {{ item.dateCreated | date }}

            <button
              style="position: relative; float: right"
              type="button"
              mat-icon-button
              color="warn"
              (click)="removeDevice(gateway._id, item._id)"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </h3>
          <h4 class="mat-h4">UID: {{ item.uid }}</h4>
          <h4 class="mat-h4">Vendor: {{ item.vendor }}</h4>

          <mat-chip-list aria-label="Status">
            <mat-chip *ngIf="item.status === 'ONLINE'" selected color="primary"
              >ONLINE</mat-chip
            >
            <mat-chip *ngIf="item.status === 'OFFLINE'" selected color="accent"
              >OFFLINE</mat-chip
            >
          </mat-chip-list>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
